@model IEnumerable<HoGentLend.ViewModels.MateriaalViewModel>

<div id="catalog" class="row">
    @foreach (var item in Model)
    {

        <div id="item-@item.Id" class="col-md-4">
            <div class="catalog-item col-md-12">
                <div class="row">          
                        <!-- IMAGE -->
                        @if (item.PhotoBase64 != null)
                        {
                            <div class="catalog-img col-xs-4" style="background-image: url(data:image/png;base64,@item.PhotoBase64)">
                                <a href="data:image/png;base64,@item.PhotoBase64" data-lightbox="@item.Name"></a>
                            </div>
                        }
                        else
                        {
                            <div class="catalog-img col-xs-4"></div>
                        }

                    <div class="col-xs-8">
                        <h4>@Html.ActionLink(item.Name, "Detail", new {id = item.Id})</h4>
                        <ul>
                            <li>@item.DescriptionShort</li>
                        </ul>

                        <ul>
                            <li><strong>@(item.Amount - item.AmountNotAvailable)</strong> beschikbaar</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    }
</div>

