@model IEnumerable<HoGentLend.ViewModels.MateriaalViewModel>

@{
    ViewBag.Title = "Catalogus";
}

@section stylesheets
{
    <link href="~/Content/lightbox.css" rel="stylesheet" />
}

<h2>Catalogus</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In viverra libero quis ipsum mollis rutrum. Pellentesque semper lacinia rhoncus. Vestibulum mauris odio, cursus nec volutpat quis, pharetra quis massa. Aenean a imperdiet sapien. Nullam sit amet finibus nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc hendrerit ligula nec elit gravida, ut congue lorem interdum. Suspendisse potenti. In a quam varius, facilisis sapien ut, ultricies velit. Sed suscipit tincidunt sagittis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>

<hr/>

@Html.Partial("_PartialFilter")

<hr/>

@Html.Partial("_MateriaalList")

@section scripts
{
    <script src="~/Scripts/lightbox.js"></script>
}