@model IEnumerable<HoGentLend.ViewModels.MateriaalViewModel>

@{
    ViewBag.Title = "Catalogus";
}

@section stylesheets
{
    <link href="~/Content/lightbox.css" rel="stylesheet" />
}

<h2>Catalogus</h2>

@Html.Partial("_PartialFilter")

@Html.Partial("_MateriaalList")

@section scripts
{
    <script src="~/Scripts/lightbox.js"></script>
}