
@model IEnumerable<HoGentLend.ViewModels.ReservatieViewModel>
@using System.Linq

@{
    ViewBag.Title = "Index";
}

<h2>Reservaties</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In viverra libero quis ipsum mollis rutrum. Pellentesque semper lacinia rhoncus. Vestibulum mauris odio, cursus nec volutpat quis, pharetra quis massa. Aenean a imperdiet sapien. Nullam sit amet finibus nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc hendrerit ligula nec elit gravida, ut congue lorem interdum. Suspendisse potenti. In a quam varius, facilisis sapien ut, ultricies velit. Sed suscipit tincidunt sagittis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>

<hr />

<div id="reservationlist">


    @if (!Model.Any())
    {
        <p>Je hebt nog niets gereserveerd!</p>
    }
    else
    {

        using (Html.BeginForm("Remove", "Reservatie", FormMethod.Post))
        {

            @*<div class="row">
                <div class="col-md-1">#</div>
                <div class="col-md-3">Ophaalmoment</div>
                <div class="col-md-3">Indienmoment</div>
                <div class="col-md-3"></div>
                <div class="col-md-1"></div>
                <div class="col-md-1"></div>
            </div>*@


            int i = 1;
            foreach (var item in Model)
            {

                <div class="row reservation-item">
                    <div class="col-md-12">
                        <div class="col-md-1">
                            @i
                        </div>
                        <div class="col-md-3">
                            <strong>Ophaalmoment</strong> <br/> @Html.DisplayFor(model => item.Ophaalmoment)
                        </div>
                        <div class="col-md-3">
                            <strong>Indienmoment</strong> <br/> @Html.DisplayFor(model => item.Indienmoment)
                        </div>
                        <div class="col-md-3">
                            @foreach (var reservatielijn in item.ReservatieLijnen)
                            {
                                @Html.DisplayFor(model => reservatielijn.Materiaal.Name)
                            }
                        </div>
                        <div class="col-md-1">
                            @Html.ActionLink("Details", "Details", "Reservatie", new { id = item.Id }, null)
                        </div>
                        <div class="col-md-1">
                            <button type="submit" class="btn btn-default">
                                Verwijder
                            </button>

                        </div>
                    </div>
                </div>


                <hr/>
                i++;
            

        }

    }
    }
</div>




