
@model IEnumerable<HoGentLend.ViewModels.ReservatieViewModel>
@using System.Linq

@{
    ViewBag.Title = "Index";
}

<h2>Reservaties</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In viverra libero quis ipsum mollis rutrum. Pellentesque semper lacinia rhoncus. Vestibulum mauris odio, cursus nec volutpat quis, pharetra quis massa. Aenean a imperdiet sapien. Nullam sit amet finibus nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc hendrerit ligula nec elit gravida, ut congue lorem interdum. Suspendisse potenti. In a quam varius, facilisis sapien ut, ultricies velit. Sed suscipit tincidunt sagittis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>

<hr />

<div id="reservationlist">


    @if (!Model.Any())
    {
        <p>Je hebt nog niets gereserveerd!</p>
    }
    else
    {
        <form action="/" method="post" class="form-inline">

            @foreach (var item in Model)
                {

                <div class="row reservation-item">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            @Html.DisplayFor(model => item.Ophaalmoment)
                        </div>
                        <div class="col-md-2">
                            @Html.DisplayFor(model => item.Indienmoment)
                        </div>
                        <div class="col-md-4">
                            @Html.DisplayFor(model => item.ReservatieLijnen)
                        </div>


                        <div class="col-md-8">
                            @* @Html.ActionLink(item.Name, "Detail", "Catalogus", new {id = item.Id}, null)*@
                        </div>
                        <div class="col-md-8">

                        </div>
                    </div>
                </div>


                <hr />
            }

            

        </form>
    }
</div>




